/* Entire page background */
#storePasswordPage {
    background-color: #263238;
}

/* Highlight Label */
#highlightLabel {
    background-color: #e0f2f1;
    border: 2px solid #009688;
    border-radius: 12px;
    padding: 12px 20px;
    margin: 16px 0;
    font-weight: 700;
    font-size: 18px;
    color: #004d40;
    qproperty-alignment: AlignCenter;
    letter-spacing: 0.5px;
}

#highlightLabel:hover {
    background-color: #b2dfdb;
    border-color: #00796b;
    color: #00332f;
}

/* Back button */
#backButton {
    background-color: transparent;
    color: #FFAB40;
    font-size: 18px;
    border: none;
}
#backButton:hover {
    color: #FFD180;
}

/* Search Input */
#searchInput {
    background-color: #37474F;
    color: #ECEFF1;
    border: 2px solid #009688;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;
}
#searchInput:focus {
    border-color: #FFAB40;
    background-color: #455A64;
}

/* Search Button */
#searchButton {
    background-color: #009688;
    color: white;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
}
#searchButton:hover {
    background-color: #00796B;
}

/* Inputs for form */
#formInput {
    background-color: #37474F;
    color: #ECEFF1;
    border: 2px solid #009688;
    border-radius: 6px;
    padding: 8px 12px;
    font-size: 14px;
}
#formInput:focus {
    border-color: #FFAB40;
    background-color: #455A64;
}

#comboBox {
    background-color: #37474F;
    color: #ECEFF1;
    border: 2px solid #009688;
    border-radius: 6px;
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    min-height: 20px;
    min-width: 260px;
    combobox-popup: 0;
}

#comboBox:focus {
    border-color: #FFAB40;
    background-color: #455A64;
}

/* Dropdown region */
#comboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 30px;
    border-left: 1px solid #009688;
    background-color: #009688;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

/* Remove the default arrow */
#comboBox::down-arrow {
    border: none;
    background: transparent;
    width: 0;
    height: 0;
}
/* Submit Button */
#submitButton {
    background-color: #009688;
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
}
#submitButton:hover {
    background-color: #00796B;
}
